<div class="container2 border">
    <div class="nav row">
      <div class="col " >
        <img src="/assets/icons/hello.png" style="height: 24px;width: 24px;margin: 5px;"><span class="align-middle"> Welcome To The Best Car Rent By Far</span>
      </div>
      
    </div>  <br/>
<p>Hertz Company is the world's largest car rental corporation, active in 170 countries and operating over 11,500 stations worldwide. The global scope of reservations is currently about 30 million per annum.<br/>
    The "Kesher Rent a Car" Company was founded in 1985, and ever since it is the Israeli franchise of the global Hertz Company.<br/>    
    The Company is owned by Mayer's Cars and Trucks Ltd., importer of Volvo, Honda and Jaguar cars, trucks, and heavy-duty equipment and is the largest vehicle group in Israel.<br/>
    Hertz Israel is the operator of Auto Center which deals with second-hand sales of vehicles and trade-in.<br/>
    In addition, Hertz holds 50% of the shares of Operate Lease which also provides a wide range of services to its customers in the field of operating leasing.<br/>
     </p>
     <div class="nav row">
        <div class="col " >
          <img src="/assets/icons/hello.png" style="height: 24px;width: 24px;margin: 5px;"><span class="align-middle"> Why Us</span>
        </div>
     </div>
     
         Because we are the best by far
     
    
</div>