<div style="width:100%;">
<div class="row">
    <div class="col-1 background">
       <b> Users:</b><br/>
        <a [routerLink]="[{ outlets: { list:['employee'] } }]">Manage </a> <br/>
        <b>Car Models:</b><br/>
        <a [routerLink]="[{ outlets: { list:['carmodel'] } }]">Manage Models</a>  <br/>
        <b>Cars:</b><br/>
        <a [routerLink]="[{ outlets: { list:['cars'] } }]">Manage Cars</a> <br/>
        <b>Orders:</b><br/>
        <a [routerLink]="[{ outlets: { list:['orders'] } }]">Manage Orders</a> <br/>






    </div>
    <div class="col" >
        <router-outlet name="list"></router-outlet>
    </div>
</div>

</div>